:root {
    --primary-color: #0A1128;
    --color-white: #FFFFFF;
    --light-gray-color: #eee;
    --gap: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Stack Sans Notch", sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td,
table th {
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;
    border: 0.1rem solid var(--primary-color);
}

tfoot td,
thead th {
    background-color: var(--light-gray-color);
}

tfoot td {
    text-align: right;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--color-white);

}

.white-bg {
    background-color: var(--color-white);
    color: var(--primary-color);
}


.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-spacing {
    height: 65px;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.3rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.jobs-description-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-content h2 {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -3rem;
    left: -1rem;
    transform: rotate(5deg);
}

.gallery-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.gallery-content h2 {
    margin-bottom: 1rem;
}

.gallery-description {
    padding-bottom: 5rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-img {
    width: 100%;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
    width: 36rem;
    height: 36rem;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.pricing-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.contact-form {
    grid-column: span 2;
}

.contact-form fieldset {
    border: none;
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    background-color: var(--color-white);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-group.full-width {
    flex: 1 1 100%;
    width: 100%;
}

.form-group button {
    border: 0.3rem solid var(--color-white);
    background: none;
    color: var(--color-white);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--color-white);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: gainsboro;
}

.form-legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.footer-content {
    text-align: center;
    color: #444;
    font-size: 1.6rem;
    margin-bottom: -2rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--color-white);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 820px) {

    .intro-content,
    .grid,
    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content,
    .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu {
        display: none;
    }


    .close-menu-label::after {
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--color-white);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 20%;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: '×';
        display: block;
    }

    .menu-spacing {
        display: none;
    }
}